*{
    margin:0;
    padding: 0;
    border: 0;
}

.Principal{
    display: flex;
    justify-content: space-between;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 80%;
    background-color: #E8EBE4;
    height: 100vh;
}

.intro{
    padding-top: 10px;
}

h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 7vh
}

.main p{
    padding-top: 5px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.Contactos{
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    background-color: #FFF;
    max-width: 100vh;
}

.cardmini{
    border-top: 1px solid #BEC1BB;
    border-right: 1px solid #BEC1BB;
    display: flex;
}

.estado{
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
}

span{
    font-family: 'Open Sans', sans-serif;
    color:#BEC1BB;
    font-size: 12px;

}

.iconos{
    display: flex;
    align-items: center;
    color: #BEC1BB;
    margin-right: 15px;
}

.nuevoChat{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0 30px 0;
    border-top: 1px solid #BEC1BB;
    border-right: 1px solid #BEC1BB;
}

button{
    background-color: #a491d2;
    color:#FFF;
    padding: 10px 40px 10px 40px;
    
}

button:hover{
    background-color: #CDC3E6;
}

button:focus{
    background-color: #BEC1BB;
}

.card{
    border-top: 1px solid #BEC1BB;
    border-right: 1px solid #BEC1BB;
    padding: 6px 0 6px 0;
    display: flex;
    justify-content: flex-start;
    flex-grow: 0.8;

}

.texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nombre{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.msj{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

.est{
  color:#BEC1BB
}


.foto{
    border-radius: 100%;
    max-width: 15%;
    margin-left: 30px;
    margin-right: 20px;
}

